
{% extends 'base.html' %}

{% block title %}Item Details{% endblock title %}

{% block body %}
<div class="container col-4 mt-5 py-4">
    <h4 class="text-center alert alert-info">Use Filters</h4>
    <form action="/buyer/buyItem/" method="post">
        {% csrf_token %}
        {{form.as_table}}
        <input type="submit" value="search" class="btn btn-primary ml-auto mr-auto w-50 mt-4" style="display: flex; justify-content: center;">
        <!-- <input type="submit" value="search" class="btn btn-secondary mt-3"> -->
    </form>
</div>

{% endblock %}


