<br><br><br><br><br>
<footer class="text-center text-white" id="footer" style="background-color: #e3f2fd;">
    <!-- Grid container -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container p-4 pb-1 mt-8">
        <!-- Section: Social media -->
        <section>
        <!-- Facebook -->
        <!-- <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/" role="button">
            <i class="fa fa-facebook-f"></i>
        </a> -->

        <!-- Twitter -->
        <!-- <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/" role="button">
            <i class="fa fa-twitter"></i>
        </a> -->

        <!-- Google -->
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.google.com/" role="button">
            <i class="fa fa-google"></i>
        </a>

        <!-- Instagram -->
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/" role="button">
            <i class="fa fa-instagram"></i>
        </a>

        <!-- Linkedin -->
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.linkedin.com/" role="button">
            <i class="fa fa-linkedin"></i>
        </a>

        <!-- Github -->
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.github.com/" role="button">
            <i class="fa fa-github"></i>
        </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark font-weight-bold p-3" style="background-color: #b2ebf2;">
        Design and Developed by Rutvik Kamani
    </div>
    <!-- Copyright -->
</footer>